@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Orbitron", sans-serif;
}